* {
  box-sizing: border-box;
}


html,
body {
  height: 100%;
  font-family: sans-serif;
  font-weight: 50%;
  font-size: 12px;
  font-style:normal;
  background-image: url("https://ipfs.creary.net/ipfs/QmPagPEss2JxvfuMydRJQjmxfDyBA474qp59thqFejA6H7");
  background-size: 500px;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding-right: 10rem;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--clr-neon);
  padding-right: -10rem;
}
  


a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}
  

a {
  text-decoration: none;

  
}
#root {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  
}
.__main {
  max-width: 100%;
  margin: auto;
  background-image: url("https://motionarray.imgix.net/preview-251579-pmKcStUWc2-high_0014.jpg");
  min-height: 80vh;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  display: flex;  
  
}

.btn {
  background-color: #fff;
  
  border: none;
  outline: none;
  cursor: pointer;
  width: 230px;
  height: 47px;
  line-height: 47px;
  border-radius: 5px;
  display: flex;
  color: white;
  border: #000;
  border-width: 1px;
  border-style: solid;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: all 0.3s ease-in-out;
  transition: 0.3s;
  margin: 10px 5px;
  transform-style: preserve-3d;
  text-shadow:
    0 0 7px rgb(230, 224, 233),
    0 0 10px rgb(230, 224, 233),
    0 0 21px rgb(230, 224, 233),
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
    background: var(--clr-neon);

}


.btn:hover {
  background-color: #d9dcec;
  color: #fff;
  transform: scale(1.02);
  color: rgb(229, 219, 233);
  top: 120%;
  left: 0;
  width: 20%;
  height: 20%; 
  color: var(--clr-bg);
  text-shadow: none;
  opacity: 1;
   display: inline-block;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  text-shadow:
    0 0 7px rgb(230, 224, 233),
    0 0 10px rgb(230, 224, 233),
    0 0 21px rgb(230, 224, 233),
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
 
}
 

.btn i {
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 18px;
  border-right: 1px solid #ebe7fb;
  
}
.btn span {
  flex: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete {
  margin-left: 3px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6c84ff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(4,28,108);

}

.main__chatbody {
  flex-grow: 1;
  background-image: url("https://media.istockphoto.com/photos/background-picture-id1163186206?k=20&m=1163186206&s=612x612&w=0&h=B_xGvYOaXeYVWIJy9BjOTkoEJp1soqIk0y8oGgayPS0=");
  border-radius: 10px;
  padding: 15px 20px;
  top: 120%;
    /* left: 0;
    width: 20%;
    height: 20%;
    display: inline-block; */
}

.main__chatlist {
  

  border-right: 1px solid #3b5bfe;
  padding: 0 40px 0 0px;
}
.chatlist__heading {
  margin-top: 20px;
  color: #fff;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #0fa,
  0 0 82px #0fa,
  0 0 92px #0fa,
  0 0 102px #0fa,
  0 0 151px #0fa;
    text-decoration: none;
  
}
  

.btn-nobg {
  background-color: transparent;
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  border: none;
  box-shadow: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  color: #dad9dd;
  outline: none;
}
.search_wrap {
  background-color: #e6e5ea;
  border-radius: 5px;
}
.search_wrap input {
  background-color: transparent;
  border: none;
  padding: 15px 15px;
  outline: none;
  width: 80%;
  padding-right: 0;
}
.search-btn {
  height: 46px;
  border: none;
  background-color: transparent;
  outline: none;
  width: 20%;
  cursor: pointer;
  font-size: 20px;
}
.chatlist__items {
  margin-top: 30px;
  overflow: auto;
  max-height: calc(100vh - calc(100vh / 2));
}
.group {
  display: flex;
  width: 800px;
  align-content: center;
  justify-content: baseline;
  justify-items: baseline;
}
.chatlist__item {
  background-color: white;
  width: 500px;
  display: flex;
  border-bottom: 1px solid #ebe7fb;
  padding-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  padding: 10px 10px 10px 20px;
  transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
  transform: scale(0);
  animation-name: showIn;
  animation-duration: 0.2s; /* or: Xms */
  animation-iteration-count: 1;
  animation-direction: normal; /* or: normal */
  animation-timing-function: cubic-bezier(
    0.88,
    0.19,
    0.37,
    1.11
  ); /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: both; /* or: backwards, both, none */
  animation-delay: 0.1s; /* or: Xms */
  overflow: auto;
  color: #fff;

}
@keyframes showIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.chatlist__item:first-child {
  margin-top: 0;
  overflow: auto;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  margin-right: 20px;
  position: relative;
}
.avatar img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.chatlist__item .userMeta p {
  margin: 0;
  padding: 0;
  color: #000;
  font-weight: 600;
  font-size: 14px;
}
.chatlist__item .userMeta span {
  margin: 0;
  padding: 0;
  color: #4b4a4e;
  font-weight: 400;
  font-size: 12px;
  display: block;
}
.chatlist__item:hover,
.chatlist__item.active {
  background: #fff;

  border-radius: 10px;
}
.isOnline {
  position: absolute;
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ddd;
  border-radius: 50%;
  border: 2px solid #fff;
}
.isOnline.active {
  background-color: tomato;
}
.avatar-img {
  overflow: hidden;
  border-radius: 50%;
  width: 100%;
  height: 100%;

}
.main__chatcontent {
  flex-grow: 1;
  max-width: 100%;
  border-right: 1px solid #ebe7fb;
}
.content__header {
  padding-bottom: 15px;
  border-bottom: 1px solid #ebe7fb;
}
.current-chatting-user {
  display: flex;
  align-items: center;
}
.current-chatting-user p {
  margin: 0;
  font-weight: 600;
}
.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings .btn-nobg {
  color: #000;
}
.content__body {
  max-height: calc(100vh - calc(100vh / 2));
  overflow: auto;
}
.chat__item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: right;
  animation-name: showIn;
  animation-duration: 0.2s; /* or: Xms */
  animation-iteration-count: 1;
  animation-direction: normal; /* or: normal */
  animation-timing-function: cubic-bezier(
    0.88,
    0.19,
    0.37,
    1.11
  ); /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: both; /* or: backwards, both, none */
  animation-delay: 0.2s; /* or: Xms */
}
@keyframes showIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.chat__item .avatar {
  margin-right: 0px;
  margin-left: 20px;
  background: #fff;
  padding: 1px;
}
.chat__item__content {
  background-color: #4462ff;
  color: #fff;
  padding: 15px;
  border-radius: 10px 10px 0 10px;
  max-width: 50%;
  min-width: 215px;
}
.chat__item__content .chat__meta {
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
}
.chat__item__content .chat__meta span {
  font-size: 14px;
  color: #8693d3;
  user-select: none;
}
.chat__msg {
  user-select: none;
}

.chat__item.other {
  flex-direction: row-reverse;
  transform-origin: left;
}
.chat__item.other .chat__item__content {
  background-color: #fff;
  color: #000;
  border-radius: 10px 10px 10px 0;
  max-width: 50%;
}
.chat__item.other .avatar {
  margin-right: 20px;
  margin-left: 0px;
}
.chat__item.other .chat__item__content .chat__meta span {
  color: #d1d1d1;
}
.content__footer {
  padding-top: 30px;
}
.sendNewMessage {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
}
.sendNewMessage button {
  width: 36px;
  height: 36px;
  background-color: #ecefff;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: rgb(4,28,108);
  padding: 0;
  border-radius: 5px;
  line-height: 36px;
  transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}
.sendNewMessage button:hover {
  transform: scale(1.2);
}
.sendNewMessage button i {
  display: block;
}
.sendNewMessage input {
  flex-grow: 1;
  padding: 0 15px;
  background-color: transparent;
  border: none;
  outline: none;
}
#sendMsgBtn {
  background-color: rgb(4,28,108);
  color:rgb(4,28,108);
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}
